<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <meta name="theme-color" content="#58A4DE" />
    <!-- This new meta tag will apply background color to Mobile chrom browser's url bar -->
    <title>Welcome to CICA</title>
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/flexslider.min.css">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.min.css">
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">
   
    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]--> 


</head>

<body>
    
    
    <section id="main-content" class="container" tame="msection_d01_p01">

        <div class="row" tame="mdiv_d02_p02">
            <div class="col-md-6 col-lg-7 middle-content col-md-push-3 col-lg-push-2-point-5" tame="mdiv_d03_p02">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" tame="mdiv_d04_p01">
                    <div class="carousel-inner" role="listbox" tame="mdiv_d05_p01">
                        <div class="item active recuerdo_2005_esp" tame="mdiv_d06_p01">
                            <h2 class="title" tame="mh2_d07_p01">
                                2005_Esp - Aranjuez - Escapadita al río de Madrid - España - recuerdo
                            </h2>
                            
                            <div class="recuerdo-images" tame="mdiv_d06_p03">
                                <!-- class v*-h* is container for 5 recuerdo images. In dynamic only one such div will appear. Total 6 cases are possible.
                                     when there will be only one "mdiv_d07_p01" then mdiv_d06_p03 will be redundant so we could remove one depth div.
                                -->
                                <div class="v0-h5 clearfix" tame="mdiv_d07_p01">
                                    <h3 tame="mh3_d08_p01">5 horizontal</h3>
                                    <!--  5 single-image divs are container for 5 recuerdo images. -->
                                    <div class="single-image" tame="mdiv_d08_p02">
                                        <!-- Below anchor tag must have class "horizontal" or "vertical" depending upon the image width/height(or W-H) ratio. -->
                                        <a data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/lightbox/h.jpg|http://cica.dbrqx.com/rimg/cica/ratina2/Desktop/lightbox/h.jpg" data-src-small="" class="image-wrapper horizontal" data-lightbox="recuerdo" tame="mdiv_d09_p01">
                                            <!-- data-src-small="http://cica.dbrqx.com/rimg/cica/ratina1_example.png|ratina2_example.png" must be on every image; it will load appropriate images from (ratina/moble folder) on mobile devices.
                                            data-src-small on anchor tags with data-lightbox attribute is needed too.-->
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/h.jpg|http://cica.dbrqx.com/rimg/cica/ratina2/Desktop/h.jpg" data-src-small="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" alt="" tame="mdiv_d10_p01">
                                            <!-- 12 jan 2017: changed src for h type images to a 4*3 transparent gif. And for V type to 3*4 transparent gif. In dynamic code 4*3 gif should be used for H type and 3*4 should be used for V type. This will make the image ook correct before lazy loading. -->
                                            <div class="image-overlay" tame="mdiv_d10_p02"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder icon" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.svg" alt="" tame="mdiv_d10_p03">
                                            <!-- This is 1*1 gif as before.-->
                                        </a>
                                    </div>
                                    <div class="single-image">
                                        <a data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/lightbox/h.jpg|http://cica.dbrqx.com/rimg/cica/ratina2/Desktop/lightbox/h.jpg" data-src-small="" class="image-wrapper horizontal" data-lightbox="recuerdo">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/h.jpg|http://cica.dbrqx.com/rimg/cica/ratina2/Desktop/h.jpg" data-src-small="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image">
                                        <a data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/lightbox/h.jpg|ratina2/Desktop/lightbox/h.jpg" data-src-small="" class="image-wrapper horizontal" data-lightbox="recuerdo">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/h.jpg|http://cica.dbrqx.com/rimg/cica/ratina2/Desktop/h.jpg" data-src-small="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image">
                                        <a data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/lightbox/h.jpg|http://cica.dbrqx.com/rimg/cica/ratina2/Desktop/lightbox/h.jpg" data-src-small="" class="image-wrapper horizontal" data-lightbox="recuerdo">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/h.jpg|http://cica.dbrqx.com/rimg/cica/ratina2/Desktop/h.jpg" data-src-small="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.svg" alt="">
                                        </a>
                                    </div>
                                    <div tame="mdiv_d08_p06" class="single-image last">
                                        <a data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/lightbox/h.jpg|http://cica.dbrqx.com/rimg/cica/ratina2/Desktop/lightbox/h.jpg" data-src-small="" class="image-wrapper horizontal" data-lightbox="recuerdo">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/h.jpg|http://cica.dbrqx.com/rimg/cica/ratina2/Desktop/h.jpg" data-src-small="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="left rose">
                                        <!-- Left side rose. This div is repeaed two times with left/right class.-->
                                        <a href="#" class="image-wrapper no-shadow">
                                            <img class="img-responsive b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/images/rose.png" data-src-small="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
                                        </a>
                                        <div class="link-explanation">
                                            Imágenes VivasImágenes PersonalesEnlace Selección2005-08-24T00:00:00
                                        </div>
                                    </div>
                                    <div class="right rose">
                                        <a href="#" class="image-wrapper no-shadow visible-md visible-lg">
                                            <img class="img-responsive b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/images/rose.png" data-src-small="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
                                        </a>
                                        <div class="link-explanation">
                                            2005_Esp - Zaragoza - El amor emerge sobre la grandeza del Ebro - España - seleccion
                                        </div>
                                        <!-- Second rose is repeated two times. this will show on tablet/mobile-->
                                        <a href="#" class="image-wrapper no-shadow hidden-md hidden-lg">
                                            <img class="img-responsive b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/images/rose.png" data-src-small="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="">
                                        </a>
                                    </div>
                                </div>
                                <hr>
                                <div class="v1-h4">
                                    <h3>4 horizontal 1 vertical</h3>
                                    <div class="single-image">
                                        <a class="image-wrapper horizontal" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/lightbox/h.jpg|ratina2/Desktop/lightbox/h.jpg" data-lightbox="recuerdo2">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/h.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder icon" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image">
                                        <a class="image-wrapper horizontal" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/lightbox/h.jpg|ratina2/Desktop/lightbox/h.jpg" data-lightbox="recuerdo2">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/h.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image">
                                        <a class="image-wrapper horizontal" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/lightbox/h.jpg|ratina2/Desktop/lightbox/h.jpg" data-lightbox="recuerdo2">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/h.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image">
                                        <a class="image-wrapper horizontal" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/lightbox/h.jpg|ratina2/Desktop/lightbox/h.jpg" data-lightbox="recuerdo2">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/h.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image last">
                                        <a class="image-wrapper vertical" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/lightbox/v.jpg|ratina2/Desktop/lightbox/v.jpg" data-lightbox="recuerdo2">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/v.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAQAAADhJE2MAAAADklEQVR42mNkAANGbBQAAGIABUN3+8IAAAAASUVORK5CYII=" alt="">
                                            <!-- 12 jan 2017: This is the new 3*4 transparent gif. This should be used for all V type images in dynamic code.-->
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <hr>
                                <div class="v2-h3">
                                    <h3>3 horizontal 2 vetical</h3>
                                    <div class="single-image">
                                        <a class="image-wrapper vertical">
                                        <!-- 12 jan 2017 Below and this anchor tags have no data-src. For dynamic it must have data-src otherwise lightbox pop will not open -->
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/v.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAQAAADhJE2MAAAADklEQVR42mNkAANGbBQAAGIABUN3+8IAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder icon" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image">
                                        <a class="image-wrapper vertical">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/v.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAQAAADhJE2MAAAADklEQVR42mNkAANGbBQAAGIABUN3+8IAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image">
                                        <a class="image-wrapper horizontal">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/h.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image">
                                        <a class="image-wrapper horizontal">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/h.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image last">
                                        <a class="image-wrapper horizontal">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/h.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <hr>
                                <div class="v3-h2">
                                    <h3>2 horizontal 3 vertical</h3>
                                    <div class="single-image">
                                        <a class="image-wrapper horizontal">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/h.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder icon" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image">
                                        <a class="image-wrapper horizontal">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/h.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image">
                                        <a class="image-wrapper vertical">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/v.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAQAAADhJE2MAAAADklEQVR42mNkAANGbBQAAGIABUN3+8IAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image">
                                        <a class="image-wrapper vertical">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/v.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAQAAADhJE2MAAAADklEQVR42mNkAANGbBQAAGIABUN3+8IAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image last">
                                        <a class="image-wrapper vertical">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/v.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAQAAADhJE2MAAAADklEQVR42mNkAANGbBQAAGIABUN3+8IAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <hr>
                                <div class="v4-h1">
                                    <h3>1 horizontal 4 vertical</h3>
                                    <div class="single-image">
                                        <a class="image-wrapper vertical">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/v.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAQAAADhJE2MAAAADklEQVR42mNkAANGbBQAAGIABUN3+8IAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder icon" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image">
                                        <a class="image-wrapper vertical">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/v.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAQAAADhJE2MAAAADklEQVR42mNkAANGbBQAAGIABUN3+8IAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image">
                                        <a class="image-wrapper vertical">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/v.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAQAAADhJE2MAAAADklEQVR42mNkAANGbBQAAGIABUN3+8IAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image">
                                        <a class="image-wrapper vertical">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/v.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAQAAADhJE2MAAAADklEQVR42mNkAANGbBQAAGIABUN3+8IAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image last">
                                        <a class="image-wrapper horizontal">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/h.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAQAAAAe/WZNAAAADklEQVR42mNkgAJGDAYAAFEABCaLYqoAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <hr>
                                <div class="v5-h0">
                                    <h2>0 horizontal 5 vertical</h2>
                                    <div class="single-image">
                                        <a class="image-wrapper vertical">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/v.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAQAAADhJE2MAAAADklEQVR42mNkAANGbBQAAGIABUN3+8IAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder icon" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image">
                                        <a class="image-wrapper vertical">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/v.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAQAAADhJE2MAAAADklEQVR42mNkAANGbBQAAGIABUN3+8IAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image">
                                        <a class="image-wrapper vertical">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/v.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAQAAADhJE2MAAAADklEQVR42mNkAANGbBQAAGIABUN3+8IAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image">
                                        <a class="image-wrapper vertical">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/v.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAQAAADhJE2MAAAADklEQVR42mNkAANGbBQAAGIABUN3+8IAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single-image last">
                                        <a class="image-wrapper vertical">
                                            <img class="b-lazy" data-src="http://cica.dbrqx.com/rimg/cica/ratina1/Desktop/v.jpg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAQAAADhJE2MAAAADklEQVR42mNkAANGbBQAAGIABUN3+8IAAAAASUVORK5CYII=" alt="">
                                            <div class="image-overlay"></div>
                                            <img class="b-lazy focus-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Focus placeholder" data-src="http://cica.dbrqx.com/rimg/cica/images/focus3.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-- crausol end -->
                
            </div>
        
        </div>

    </section>
    
    <script src="https://cdn.jsdelivr.net/blazy/1.8.2/blazy.min.js" defer></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/jquery.flexslider.min.js" defer></script>
    <script src="../assets/js/main.js" defer></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>

</html>
