<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <meta name="theme-color" content="#58A4DE" />
    <!-- This new meta tag will apply background color to Mobile chrom browser's url bar -->
    <title>Welcome to CICA</title>
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/flexslider.min.css">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.min.css">
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">
   
    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]--> 


</head>

<body>    
    <header></header>
    <section id="main-content" class="container" tame="msection_d01_p01">
        <div class="row" tame="mdiv_d02_p02">
            <div class="col-md-6 col-lg-7 middle-content col-md-push-3 col-lg-push-2-point-5" tame="mdiv_d03_p02"></div>
            <div class="col-md-3 col-lg-2-point-5 visits-left col-md-pull-6 col-lg-pull-7" tame="mdiv_d03_p01"></div>
            <div class="col-md-3 col-lg-2-point-5 social-right">
                <!-- main code for dynamic starts here -->
                <div class="social-container">
                    <div class="twitter-page">
                        <a class="twitter-timeline" data-lang="es" data-height="400" data-dnt="true" data-theme="light" href="https://twitter.com/brqxng">Tweets by github</a>
                    </div>
                </div>
                <div class="social-container">
                    <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
                    </div>
                </div>
            </div>        
        </div>
    </section>
    <footer id="footer"></footer>

    <!-- facebook sdk root div starts here -->
    <!-- main code for dynamic. This empty div is required for facebook feed -->
    <div id="fb-root"></div>
    <!-- Facebook root div finishes -->

    <script src="https://cdn.jsdelivr.net/blazy/1.8.2/blazy.min.js" defer></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/jquery.flexslider.min.js" defer></script>
    <script src="../assets/js/main.js" defer></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>

</html>
