<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <meta name="theme-color" content="#58A4DE" />
    <!-- This new meta tag will apply background color to Mobile chrom browser's url bar -->
    <title>Welcome to CICA</title>
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/flexslider.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.min.css">
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
</head>

<body>
   <section id="main-content" class="container" tame="msection_d01_p01">    
          <div class="row">
            <div class="col-xs-12 col-md-3 col-lg-2-point-5 no-padding-xs">
                <div id="lang_select">
                  <div id="lang_selected">
                    <div class="media">
                      <div class="media-left">
                        <div class="flag-wrapper image-wrapper">
                            <div class="flag flag-icon-background b-lazy" data-src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.7.0/flags/4x3/es.svg">  
                            </div>
                        </div>
                      </div>
                      <div class="media-body">
                        Spanish
                      </div>
                    </div>     
                  </div>
                  <div class="options">
                      <div class="option">
                        <div class="media">
                          <div class="media-left">
                            <div class="flag-wrapper image-wrapper">
                                <div class="flag flag-icon-background b-lazy" data-src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.7.0/flags/4x3/it.svg">  
                                </div>
                            </div>
                          </div>
                          <div class="media-body">
                            Italian
                          </div>
                        </div>                   
                      </div>
                      <div class="option">
                        <div class="media">
                          <div class="media-left">
                            <div class="flag-wrapper image-wrapper">
                                <div class="flag flag-icon-background b-lazy" data-src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.7.0/flags/4x3/al.svg">  
                                </div>
                            </div>
                          </div>
                          <div class="media-body">
                            Albanian
                          </div>
                        </div>                   
                      </div>
                      <div class="option">
                        <div class="media">
                          <div class="media-left">
                            <div class="flag-wrapper image-wrapper">
                                <div class="flag flag-icon-background b-lazy" data-src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.7.0/flags/4x3/in.svg">  
                                </div>
                            </div>
                          </div>
                          <div class="media-body">
                            Hindi
                          </div>
                        </div>                   
                      </div>
                      <div class="option">
                        <div class="media">
                          <div class="media-left">
                            <div class="flag-wrapper image-wrapper">
                                <div class="flag flag-icon-background b-lazy" data-src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.7.0/flags/4x3/ru.svg">  
                                </div>
                            </div>
                          </div>
                          <div class="media-body">
                            Russian
                          </div>
                        </div>                   
                      </div>
                      <div class="option">
                        <div class="media">
                          <div class="media-left">
                            <div class="flag-wrapper image-wrapper">
                                <div class="flag flag-icon-background b-lazy" data-src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.7.0/flags/4x3/fr.svg">  
                                </div>
                            </div>
                          </div>
                          <div class="media-body">
                            French
                          </div>
                        </div>                   
                      </div>
                      <div class="option">
                        <div class="media">
                          <div class="media-left">
                            <div class="flag-wrapper image-wrapper">
                                <div class="flag flag-icon-background b-lazy" data-src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.7.0/flags/4x3/ch.svg">  
                                </div>
                            </div>
                          </div>
                          <div class="media-body">
                            Chinese
                          </div>
                        </div>                   
                      </div>
                      <div class="option">
                        <div class="media">
                          <div class="media-left">
                            <div class="flag-wrapper image-wrapper">
                                <div class="flag flag-icon-background b-lazy" data-src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.7.0/flags/4x3/pt.svg">  
                                </div>
                            </div>
                          </div>
                          <div class="media-body">
                            Portuguese
                          </div>
                        </div>                   
                      </div>
                      <div class="option">
                        <div class="media">
                          <div class="media-left">
                            <div class="flag-wrapper image-wrapper">
                                <div class="flag flag-icon-background b-lazy" data-src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.7.0/flags/4x3/jp.svg">  
                                </div>
                            </div>
                          </div>
                          <div class="media-body">
                            Japanese
                          </div>
                        </div>                   
                      </div>
                      <div class="option active">
                        <div class="media">
                          <div class="media-left">
                            <div class="flag-wrapper image-wrapper">
                                <div class="flag flag-icon-background b-lazy" data-src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.7.0/flags/4x3/es.svg">  
                                </div>
                            </div>
                          </div>
                          <div class="media-body">
                            Spanish
                          </div>
                        </div>                   
                      </div>
                    </div>
                </div>
            </div>
        </div>
     
    </section>




    <script src="https://cdn.jsdelivr.net/blazy/1.8.2/blazy.min.js" defer></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/jquery.flexslider.min.js" defer></script>
    <script src="../assets/js/main.js" defer></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>

</html>
